<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body{
    background-color: #4070F4;
}

.main{
    width: 30%;
    height: 600px;
    background-color: #fff;
    margin-top: 3.5%;
    border-radius: 15px;
    margin-left: 35%;
}

.main h2{
   padding-left: 8%; 
   font-size: 30px;
}

hr{
    width: 14%;
    margin-left: 8%;
    margin-top: 10px;
    border: 1px solid #4070F4;
}

input{
    width: 80%;
    height: 45px;
    margin-left: 10%;
    padding-left: 10px;
    margin-top: 20px;
}

#sub{
    background-color: #4070F4;
    font-size: 16px;
    color: #fff;
    border: none;
    
    cursor: pointer;
}

span{
    padding-left: 10%;
    color: red; 
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body{
    background-color: #4070F4;
}

.main{
    width: 30%;
    height: 600px;
    background-color: #fff;
    margin-top: 3.5%;
    border-radius: 15px;
    margin-left: 35%;
}

.main h2{
   padding-left: 8%; 
   font-size: 30px;
}

hr{
    width: 14%;
    margin-left: 8%;
    margin-top: 10px;
    border: 1px solid #4070F4;
}

input{
    width: 80%;
    height: 45px;
    margin-left: 10%;
    padding-left: 10px;
    margin-top: 20px;
}

#sub{
    background-color: #4070F4;
    font-size: 16px;
    color: #fff;
    border: none;
    
    cursor: pointer;
}

span{
    padding-left: 10%;
    color: red; 
>>>>>>> 862b7d0d2c938c9df3a98c88f46e4f409708e4b0
}